.auth__container {
    width: calc(100% - var(--container-padding) * 2);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.auth__form {
    @extend %card;
    padding: 24px;
}
.auth__form> * + * {
    margin-top: 24px;
}
.auth__form .btn__submit {
    width: 100%;
}
.auth__form a {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    font-size: .9rem;
    margin-top: 4px;

    &:hover {
        color: var(--green);
        text-decoration: underline;
    }
}
.auth__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    white-space: wrap;
}