.product {
    overflow: hidden;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    transition: box-shadow .3s;
}
.product:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.3);
}
.product__thumb {
    height: 200px;
    overflow: hidden;
    background-color: #000000;
    transition: height .3s;

    & img {
        display: block;
        opacity: 1;
        transition: opacity .3s, transform .3s;
        transform: scale(1);
    }

    .product:hover & img {
        opacity: .6;
        transform: scale(1.2);
    }

    .product:hover & {
        height: 50px;
    }
}
.product:hover .product__thumb {
    opacity: 0.6;
}
.product__name {
    font-size: 16px;

    .product:hover & {
       animation: nameBlur .3s;
    }
}
.product__body {
    position: relative;
    padding: 20px;
    height: 50px;
    transition: height .3s;

    .product:hover & {
        height: 50px + 150px; // La valeur après le plus => (height du .product__thumb) - (height du.product:hover &)
    }
}

.product__author {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 120px;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity .3s - .1s, transform .3s - .1s;
    transition-delay: 0s;
    transform: translateY(25px);

    .product:hover & {
        opacity: 1;
        transition-delay: .1s;
        transform: translateY(0px);
    }
}
.product__category {
    @extend .product__author;
    bottom: 100px;
}
.product__emplacement {
    @extend .product__author;
    bottom: 80px;
}
.product__quantity {
    @extend .product__author;
    bottom: 60px;
}
.product__unity {
    @extend .product__author;
    left: 40px;
    bottom: 60px;
}
.product__purchase__date {
    @extend .product__author;
    bottom: 40px;
}
.product__footer {
    display: flex;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 14px;
    color: #A3A9AB;
}
@keyframes nameBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, .6);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 5px 5px rgba(0, 0, 0, 0);
    }
}