.btn {
    font-family: $f-r;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    padding: 14px 24px;
    background: var(--btn);
    border: 2px solid var(--btn);
    border-radius: 8px; 
}
.btn__submit {
    @extend .btn;
    color: var(--btn_submit);
    background: transparent;
}
.btn__submit svg {
    display: none;
}
.btn__submit:hover svg {
    display: flex;
}
.btn__text {
    color: #FFFFFF;
    background: var(--btn_submit);
    border: 2px solid var(--btn_submit);
    border-radius: 8px;
    transition: .5s;
}
.btn__text:hover {
    color: var(--btn_submit_hover);
    background: #FFFFFF;
    border: 2px solid var(--btn_submit_hover);
}