.is-loading .spinner-border {
    color: blue;
    background-color: lightcoral;
}

.loader {
    position: relative;
    width: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 50px;
    border: 8px solid rgba(0, 255, 255, .4);
}
.loader:after {
    position: absolute;
    content: '';
    top: -6;
    left: -6;
    bottom: -6;
    right: -6px;
    border-radius: 50px;
    border: 8px solid transparent;
    border-top-color: #FFF;
}