// Variables
// ==================
:root {
    --color: #5C5C5C;
    --background: #FFF7DF;
    --contrast: #00FF00;
    --border: #5C5C5C;
    --green: #00FF00;
    --label:  #5C5C5C;
    --btn: #23DB72;
    --btn_submit: #00FF00;
    --btn_submit_hover: #00FF00;
    --switch: #00FF00;
    --red: #FB4635;
    
}
// Outils
// ==================
@import "tools/reset";
@import "tools/typography";
@import "tools/container";

// Generic
// ==================
body {
    font-family: $f-r;
    font-size: 16px;
    line-height: 1.4;
    color: var(--color);
    background: var(--background);
}

// Modules
// ==================
@import "modules/nav";
@import "modules/burger";
@import "modules/btn";
@import "modules/form";
@import "modules/switch";
@import "modules/table";
@import "modules/card";
@import "modules/pagination";
@import "modules/notification_perimer.scss";

// Pages
// ==================
@import "pages/products";
@import "pages/dashboard";
@import "pages/card_product_index";








