{% extends "base.html.twig" %}

{% block body %}
<h1>{{'product.index_page.title' | trans }}</h1>
{{ dump(products) }}
<ul>
    {% for product in products %}
        <li>{{ product.name }}</li>
        <a href="{{ path('app_product_show', { id: product.id }) }}">Voir</a> 
    {% endfor %}
</ul>
{% endblock body %}