{% extends "admin/base.html.twig" %}

{% block body %}
<div class="dashboard__title">
    {{ icon('pen') }}
    Edition d'une categorie
</div>
{{ include('admin/category/_form.html.twig', {form: form, action: 'Modifier' }) }}
{% endblock %}
