{% extends 'admin/base.html.twig' %}

{% block body %}
<div class="dashboard__title">
    {{ icon('pen') }}
    Ajout d'une unité
</div>
{{ include('admin/unity/_form.html.twig', {form: form, action: 'Créer' }) }}
{% endblock %}