<body>

    <table>
        <thead>
            <th> {{ contact.pseudo }} </th>
        </thead>

        <tbody>
            <tr>
                <td> {{ contact.email }} </td>
            </tr>
            <tr>
                <td> {{ contact.subject }} </td>
                <td> {{ contact.message }} </td>
            </tr>
        </tbody>
    </table>

</body>